.logo {
  width: 80px;
  float: left;
  margin-right: 10px;
}
h1 {
  color: rgb(187, 255, 0);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
p {
  color: greenyellow;
}
.mainurl {
  color: greenyellow;
  text-decoration: none;
}
b {
  color: greenyellow;
  margin-bottom: 10px;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  color: lightgreen;
}
.links {
  color: sandybrown;
}
hr {
  color: tomato;
}
